@charset "utf-8";
/*main-content*/
.form{height:40px;line-height: 40px;}
.legend{float:left;width:100px;}
 .form-content{float:right;}
.form-label{float:left;margin-right:10px;}
.input-text.Wdate{width:120px;}
.formControls{float: left;width:auto;margin-right:10px;}
.select-box{height: 32px;line-height: 32px;padding: 0;}
